@model IEnumerable<Accessories>
@{
    ViewData["Title"] = "Accessories Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Navigation" />


<h2>Accessories Page</h2>

<div class="row">
    @foreach (var accessories in Model)
    {
        <div class="col-md-4">
            <partial name="_AccessoriesCard" model="accessories" />
        </div>
    }
</div>

