@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Navigation" />

<h2 style="text-align: center;">PlayStation 5</h2>
<p style="text-align: center;">PLAY LIKE NEVER BEFORE</p>

<div style="text-align: center;">
    <img src="/Images/PS5-Home.jpg" alt="PS5 Console" style="max-width: 50%;" />
</div>

<p style="text-align: center;">The PlayStation 5 (PS5) is Sony's latest gaming console, Experience lightning-fast loading with an ultra-high speed SSD, deeper immersion with support for haptic feedback, adaptive triggers and 3D Audio, and an incredible collection of PlayStation games. Immerse yourself in games that look and sound stunning, including console exclusives from PlayStation Studios and full backwards compatibility for your PS4 library.</p>
