<div class="card mb-3">
    <img src="@Model.ImageUrl" class="card-img-top" alt="Image of @Model.Name">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text"><strong>Price:</strong> $@Model.Price</p>
        <a href="@Model.MoreInfo" class="btn btn-outline-primary">Learn More</a>
    </div>
</div>