﻿<h4>Navigation</h4>
<ul>
    <li><a asp-area="" asp-controller="PS5" asp-action="Home" >Home</a></li>
    <li><a asp-area="" asp-controller="PS5" asp-action="Games">Games</a></li>
    <li><a asp-area="" asp-controller="PS5" asp-action="Accessories">Accessories</a></li>
</ul>