@{
    ViewData["Title"] = "Form Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model COMP003B.Assignment4.Models.FormRegistration

<h2>Registration Successful!</h2>
<p>Thank you, @Model.FullName!</p>
<p>The email you entered is @Model.Email</p>
<p>You have successfully registered for <strong>@Model.Quantity</strong></p>
<p>Discount Code: @Model.DiscountCode</p>